<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Summary</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <th scope="row"><%= ticket.id %></th>
          <td><%= ticket.title %></td>
          <td><%= ticket.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>